name: typed_cache_json
description: A starting point for Dart libraries or applications.
version: 1.0.0
# repository: https://github.com/my_org/my_repo
publish_to: none
environment:
  sdk: ^3.10.4

# Add regular dependencies here.
dependencies:
  flutter:
    sdk: flutter
  path_provider: ^2.1.5
  typed_cache:
    path: ../typed_cache

dev_dependencies:
  lints: ^6.0.0
  test: ^1.25.6
